[phases.setup]
nixPkgs = ["nodejs-20_x", "python3", "gcc", "make"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node ./node_modules/.bin/astro preview --host 0.0.0.0 --port ${PORT:-4321}"
