---
import '../styles/globals.css'
---


<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <h1 class="bg-blue-500 text-white px-4 py-2 rounded-md">Hello World</h1>
  </body>
</html>
---