---
import { Post } from '../lib/interfaces.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props

// Function to trim text to 200 words and add ellipsis
function trimToWords(text: string, maxWords: number = 30): string {
  if (!text) return ''
  
  const words = text.split(' ')
  if (words.length <= maxWords) return text
  
  return words.slice(0, maxWords).join(' ') + '...'
}
---

<div class="py-1 text-base">
  <p class="m-0">{post.Excerpt ? trimToWords(post.Excerpt) : ''}</p>
</div>
