---
import { Icon } from 'astro-icon/components';
---

<button class="flex w-full bg-transparent mb-2 border-none rounded-md px-1.5 py-1.5 text-gray-500 text-sm font-bold hover:cursor-pointer hover:bg-gray-300 transition-colors open-search-modal border-2 border border-gray-200	" type="button">
  <Icon name="octicon:search-24" class="w-5 h-5 mr-1" />
  <span>Piskiza...</span>
</button>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    function handleKeydown(event) {
      if (event.keyCode === 75 && event.metaKey) {
        // Ctrl+K or Cmd+K
        document.querySelector('.open-search-modal').click()
      }
    }

    document.addEventListener('keydown', handleKeydown)
  })
</script>
